@charset "utf-8";
html {
	font-size: 100px;
}

body {
	background-color: #fff;
	margin: 0;
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, .1);
	font-size: .18666667rem
}

img{
	display: block;
	width: 100%;
	border: 0;
}

li,
ol,
ul {
	list-style: none;
	margin: 0
}
a,
b,
dd,
div,
dl,
dt,
em,
form,
h1,
h2,
h3,
h4,
i,
input,
li,
ol,
p,
strong,
textarea,
ul {
	color: #292929;
	list-style: none;
	font-family: siyuan;
	margin: 0;
	padding: 0;
	font-size: 0.24rem;
}

a,
img,
span {
	text-decoration: none
}

a:focus {
	text-decoration: none
}

.fl {
	float: left
}

.fr {
	float: right
}
/*清空浮动的代码-start*/
.clr:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}

.clr {
	display: block
}

html[xmlns] .clr {
	display: block
}

* html .clr {
	height: 1%
}
/*清空浮动的代码-end*/
img {
	border: 0
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none!important;
	margin: 0
}
/*去除ios默认样式*/
input[type=number] {
	-moz-appearance: textfield
}

input[type=button],
input[type=number],
input[type=password],
input[type=reset],
input[type=submit],
input[type=text] {
	-webkit-appearance: none;
	border-radius: 0
}
input:focus,textarea:focus{
    outline: none;
}
textarea {
	-webkit-appearance: none
}
/*单行省略*/
.a_hidden {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}
/*党风学习
      理论建设
 * */
.module-title{
	font-size: 0.32rem;
	font-weight:600;
	line-height: 0.42rem;
	margin-bottom:0.2rem;
}
.module-style{
	width: 100%;
	padding:0.3rem 0.30rem 0.3rem;
	box-sizing: border-box;
	border-bottom: 0.06rem solid #f4f4f4;
}
.module-content{
	width: 100%;
	
}
.module-content li{
	width: 100%;
	height: 1.84rem;
	border-radius: 0.08rem;
	box-shadow:0px 0px 5px #f8f8f8 ;
	overflow: hidden;
	padding: 0.12rem 0.1rem;
	box-sizing: border-box;
	margin-bottom: 0.26rem;
}
.module-content li .img{
	width: 2.3rem;
	height: 1.62rem;
	overflow: hidden;
	border-top-left-radius: 0.08rem;
	border-bottom-left-radius: 0.08rem;
}
.module-content li .img img{
	display: block;
	width: 100%;
	height: 100%;
}
.module-contxt{
	width: 4rem;
}
.module-contxt .title{
	width: 100%;
	height: 0.72rem;
	font-size: 0.24rem;
	line-height: 0.36rem;
	margin-bottom: 0.25rem;
	overflow: hidden;
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.module-contxt .center{
	width: 100%;
}
.module-contxt .center .tip{
	margin-right: 0.6rem;
}
.module-contxt .center .tip img{
	width: 0.22rem;
	height: 0.22rem;
	margin:0.05rem 0.1rem 0 0;
	float: left;
}
.module-contxt .center .tip .num{
	font-size: 0.18rem;
	
}
.module-contxt .center .tip .num.visited{
	color: #e40d0d;
}
.module-contxt .detail{
	width: 100%;
	text-align: right;
	padding-right: 0.5rem;
	box-sizing: border-box;
	margin-top: 0.15rem;
	color: #e40d0d;
}
.module-more{
	display: block;
	font-size:0.3rem ;	
	width: 100%;
	text-align: center;
	margin-top: 0.3rem;
	color: #e40d0d;
}
.module-construction{
	width: 100%;
	padding: 0.5rem 0.24rem 0.3rem;
	box-sizing: border-box;
}
.module-construction .content{
	width: 100%;
}
.module-construction .content li{
	width: 3.46rem;
	padding:0.07rem;
	box-sizing: border-box;
	box-shadow: 0 0 8px #F8F8F8;
	border-radius: 8px;
	overflow: hidden;
}
.module-construction .content li:nth-child(2n-1){
	float: left;
}
.module-construction .content li:nth-child(2n){
	float: right;
}
.module-construction .content li .img{
	width: 100%;
	height: 2.2rem;
	overflow: hidden;
	margin-bottom: 0.45rem;
}
.module-construction .content li .img img{
	display: block;
	width: 100%;
	height: 100%;
}
.module-construction .content li .module-contxt{
	width: 100%;
}
/**
 商圈服务
  平安商圈
*/
.module-banner{
	width: 100%;
	height: 3.6rem;
	overflow: hidden;
}
.module-banner img{
	display: block;
	width: 100%;
}
.serve .class_box{
	width: 100%;
}
.serve .class_box .box{
	width: 100%;
	
}
.serve .class_box .box .li{
	width:25%;
	margin: 0.30rem 0;
}
.serve .class_box .box .li .icon{
	width: 0.76rem;
	height: 0.76rem;
	overflow: hidden;
	margin:0 auto 0.2rem;
}
.serve .class_box .box .li .icon img{
	display: block;
	width: 100%;
}
.serve .class_box .box .li .tip{
	display: block;
	white-space: nowrap;
	text-align: center;
}
/*走进商圈*/
.WalkInto{
	width: 100%;
	height: 100%;
	background-color: #fbfbfb;
}
.mien{
	width: 100%;
	padding: 0 0.32rem;
	box-sizing: border-box;
	background-color: #fff;
	padding-bottom: 0.2rem;
}
.WalkInto .module-title{
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: 0.32rem;
	padding: 0 0.32rem;
	box-sizing: border-box;
}
.WalkInto .mien .banner{
	width: 100%;
	height: 3.6rem;
	overflow: hidden;
	margin: 0 auto;
	
}
.WalkInto .mien .banner img{
	display: block;
	width: 100%;
	
}
.WalkInto .mien .con{
	width: 100%;
	
}
.WalkInto .mien .con .title{
	width: 100%;
	height: 0.66rem;
	font-size: 0.28rem;
	line-height: 0.66rem;
}
.WalkInto .mien .con .content-txt{
	width: 100%;
	line-height: 0.3rem;
	font-size: 0.24rem;
	text-align: justify;
	text-indent: 2em;
	
}
.platform{
	width: 100%;
	height: 100%;
	background-color: #fff;
	margin-top: 0.2rem;
	padding: 0 0.32rem;
	box-sizing: border-box;
}
.platform .module-title{
	padding: 0;
}
.platform .box_platform .btn{
	width: 100%;
	height: 0.65rem;
	border-radius: 0.08rem;
	border: 2px solid #fe3e49;
	
}
.platform .box_platform .btn li{
	width: 50%;
	height: 100%;
	line-height: 0.65rem;
	font-size: 0.28rem;
	color: #FE3E49;
	text-align: center;
}
.platform .box_platform .btn li.active{
	color: #FFFFFF;
	background-color: #FE3E49;
}
.map{
	width: 100%;
	overflow: hidden;
}
.mapbox{
	margin-top: 0.1rem;
	width: 100%;
	height: 4rem;
}
.mapbox .tdt-bottom{
	display: none;
}
.condition{
	width: 100%;
	margin: 0.3rem 0 0.3rem;
	background-color: #fff;
	padding-bottom: 0.3rem;
}
/*队伍建设*/
.TeamConstruction{
	width: 100%;
	height: 100%;
	background-color: #fdfdfd;
}
.trench_box{
	width: 100%;
	overflow: hidden;
}
.trench_box .module-title{
	height: 0.7rem;
	line-height: 0.7rem;
	padding: 0 0.32rem;
}
.trench_box .trench{
	width: 100%;
	background-color: #FFFFFF;
	padding: 0.2rem 0;
}
.trench_box .trench .li{
	width: 25%;
	overflow: hidden;
}
.trench_box .trench .li li .img{
	width: 0.76rem;
	height: 0.76rem;
	border-radius: 0.08rem;
	overflow: hidden;
	margin: 0 auto 0.2rem;
}
.trench_box .trench .li li .txt{
	display: block;
	text-align: center;
	font-size: 0.28rem;
}
.PartyMembe{
	width: 100%;
	margin-top: 0.3rem;
	background-color: #fff;
	overflow: hidden;
}
.PartyMembe .module-title,.activist .module-title{
	display: block;
	margin: 0;
	height: 0.7rem;
	line-height: .7rem;
	padding: 0 0.32rem;
	box-sizing: border-box;
}
.PartyMembe .module-title .more,.activist .module-title .more{
	color: #FE3E49;
}
.PartyMembe .team{
	width: 100%;
	overflow: hidden;
	padding: 0 0.11rem;
	box-sizing: border-box;
}
.PartyMembe .team li{
	width: 25%;
	overflow: hidden;
	margin-bottom: 0.4rem;
}
.PartyMembe .team li .img{
	width: 1.4rem;
	height: 1.4rem;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto 0.2rem;
}
.PartyMembe .team li .img img{
	height: 100%;
}
.PartyMembe .team li .txt{
	display: block;
	text-align: center;
	font-size: 0.24rem;
	line-height: 0.42rem;
}
.activist{
	width: 100%;
	background-color: #fff;
	margin-top: 0.2rem;
	padding: 0 0.32rem;
	box-sizing: border-box;
}
.activist .module-title{
	padding: 0;
}
.activist .team{
	width: 100%;
	overflow: hidden;
}
.activist .team li{
	width: 2.2rem;
	height: 3.12rem;
	overflow: hidden;
	margin:0 0 0.2rem 0.13rem;
	position: relative;
}
.activist .team li:nth-child(3n+1){
	margin-left: 0;
}
.activist .team li .img{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.activist .team li .img img{
	height: 100%;
}
.activist .team li .message{
	width: 100%;
	height: 1.2rem;
	background-color: rgba(0,0,0,0.3);
	padding: 0 0.12rem;
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
}
.activist .team li .message span{
	display: block;
	color: #fff;
}
.activist .team li .message span.name{
	font-size: 0.28rem;
	line-height: 0.5rem;
}
.activist .team li .message span.occupation{
	font-size: 0.2rem;
}
/*法律维权*/
.module-consultation{
	width: 100%;
}
.module-consultation .box{
	width: 100%;
	overflow: hidden;
	padding: 0.28rem 0.32rem;
	box-sizing: border-box;
}
.module-consultation .box .top{
	width: 100%;
	height: 1.7rem;
	overflow: hidden;
}
.module-consultation .box .top .img{
	width:  1.7rem;
	height: 100%;
	overflow: hidden;
	border-radius: 50%;
}
.module-consultation .box .top .img img{
	height: 100%;
}
.module-consultation .box .top .con{
	margin-left: 0.78rem;
	height: 100%;
	padding-top: 0.4rem;
	box-sizing: border-box;
}
.module-consultation .box .top .con span{
	display: block;
	line-height: 1;
	margin-top: 0.1rem;
}
.module-consultation .box .top .con span.module-consultationOffice{
	font-size: 0.32rem;
	font-weight: bold;
	color: #fe3e49;
	margin-bottom: 0.26rem;
}
.module-consultation .box .top .con span.module-consultationyerName{
	font-size: 0.28rem;
}
.module-consultation .box .center{
	width: 100%;
	margin-top: 0.4rem;
}
.module-consultation .box .center .title{
	font-size: 0.28rem;
	line-height: 1;
	margin-bottom: 0.16rem;
}
.module-consultation .box .center .description{
	font-size: 0.24rem;
	line-height: 0.35rem;
	letter-spacing: 5px;
	margin-bottom: 0.7rem;
}
.module-consultation .box .center .phone,
.module-consultation .box .center .Email{
	font-size: 0.24rem;
	line-height: 0.42rem;
}
.module-consultation .box .btn{
	display: block;
	width: 1.95rem;
	height: 0.7rem;
	background-color: #fe3d48;
	color: #fff;
	line-height: 0.7rem;
	text-align: center;
	font-size: 0.24rem;
	margin: 1rem auto 0.2rem;
	letter-spacing: 3px;
	border-bottom-left-radius: 0.35rem;
	border-bottom-right-radius: 0.35rem;
	border-top-left-radius: 0.35rem;
	border-top-right-radius: 0.35rem;
}
/*人才培训*/
.TalentTraining{
	padding-top: 0.2rem;
	background-color:#FDFDFD ;
}
/*工会福利*/
.welfare{
	padding-top: 0.2rem;
	background-color:#FDFDFD ;
}
/*商圈互动*/
.module-message{
	width: 100%;
	background-color: #FDFDFD;
	padding: 0.4rem 0.32rem;
	box-sizing: border-box;
}
.module-message .tit{
	font-size: 0.32rem;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 0.2rem;
}
.module-message .messages_box{
	width: 100%;
	height:4rem;
	background-color: #f7f4f4;
	border-radius: 0.23rem;
	box-sizing: border-box;
}
.module-message .messages_box .messages_content{
	width: 100%;
	height: 100%;
	resize: none;
	border: none;
	background-color: #f7f4f4;
	border-radius: 0.23rem;
	padding: 0.1rem 0.25rem 0;
	box-sizing: border-box;
	font-size: 0.24rem;
}
.module-message .messages_box .messages_content::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #303030;
  opacity: 0.5;
}
.module-message .messages_box .messages_content:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #303030;
  opacity: 0.5;
}
.module-message .messages_box .messages_content::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #303030;
  opacity: 0.5;
}
.module-message .messages_box .messages_content::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #303030;
  opacity: 0.5;
}
..module-message .label{
	color: #9a9a9a;
	line-height: 0.42rem;
	font-size: 0.24rem;
}
.module-message .sub{
	display: block;
	width: 1.94rem;
	height: 0.72rem;
	font-size: 0.32rem;
	background-color: #fe3d48;
	color: #fff;
	border: none;
	text-align: center;
	line-height: 0.72rem;
	letter-spacing: 3px;
	margin: 0.3rem auto 0.45rem;
	border-radius: 0.36rem;
}
/*人才招聘
      商圈物业
      小额贷款
 * */
.station{
	width: 100%;
	font-size: 0.32rem;
	line-height: 0.9rem;
	font-weight: bold;
	padding: 0 0.32rem;
	box-sizing: border-box;
	color: #565656;
}
.module-article{
	padding: 0 0.32rem;
	box-sizing: border-box;
}
.module-article .tit{
	font-size: 0.28rem;
	line-height: 0.52rem;
	font-weight: bold;
	color: #565656;
}
.module-article .con{
	font-size: 0.24rem;
	line-height: 0.30rem;
	color: #727272;
	letter-spacing: 3px;
}
.module-contact{
	display: block;
	width: 1.92rem;
	height: 0.7rem;
	background-color: #fe3d48;
	border-radius: 0.35rem;
	margin: 0.5rem auto;
	text-align: center;
	font-size: 0.32rem;
	line-height: 0.68rem;
	color: #fff;
}
/*商圈统战*/
.united_front{
	width: 100%;
	background-color: #f5f2f3;
	overflow: hidden;
}
.united_front .class_ul{
	width: 100%;
	padding: 0 0.32rem;
	box-sizing: border-box;
}
.united_front .class_ul .li{
	display: block;
	width: 100%;
	height: 2rem;
	margin-bottom: 0.45rem;
}

 